@charset "utf-8";
/* CSS Document */

body, html	{	background-color:#cccccc;
				font-family: "Arial Narrow", Arial;
			}

#header	{	height: 100px;
			width: 100%
			background-repeat: no-repeat;
			background: -webkit-linear-gradient(left, #FFFFFF, #FFFFFF, #288619);
			background: -o-linear-gradient(left, #FFFFFF, #FFFFFF, #288619);
			background: -moz-linear-gradient(left, #FFFFFF, #FFFFFF, #288619);
			background: -ms-linear-gradient(left, #FFFFFF, #FFFFFF, #288619);
			background: linear-gradient(left, #FFFFFF, #FFFFFF, #288619);
			background-size: cover;
			margin-top: -15px;
			margin-left: -15px;
		}

#content	{	width: 100%;
				background-color: #FFFFFF;	
				height: 900px;				
			}

#leftSideBar	{	height: 900px;
					width: 15%;
					margin-left: -15px;
					background-repeat: no-repeat;
					background: -webkit-linear-gradient(top, #FFFFFF, #288619);
					background: -o-linear-gradient(top, #FFFFFF, #288619);
					background: -moz-linear-gradient(top, #FFFFFF, #288619);
					background: -ms-linear-gradient(top, #FFFFFF, #288619);
					background: linear-gradient(top, #FFFFFF, #288619);
					background-size: cover;
					
					}
#newsearch	{	padding-left: 6%;
				padding-top: 50%;
				padding-bottom: 20%;
				padding-right: 6%;
			}
#searchText	{	border-radius: 15px; }
#buttons	{	width: 180px; }  


#footer	{	background-repeat: no-repeat;
			background: -webkit-linear-gradient(left, #000000, #cccccc);
			background: -o-linear-gradient(left, #000000, #cccccc);
			background: -moz-linear-gradient(left, #000000, #cccccc);
			background: -ms-linear-gradient(left, #000000, #cccccc);
			background: linear-gradient(left, #000000, #cccccc);
			background-size: cover;
			width: 103%;
			height: 55px;
			margin-left: -9px;
			margin-right: 11px;
			margin-bottom: -30px;
		}
